@charset "UTF-8";
body{
    font-size: 18px;
    background:linear-gradient(rgb(15, 80, 121),pink);
    height:100vw;
}

.nav_top{
    position: fixed;
    top:0px;
    background: no-repeat center/100vw url("../img/menu_aoe.jpeg");
    height: 60px;
    width: 100vw;
    flex: auto;
}

.ul_position{
    display: block;
    position: relative;
    margin-top: 10px;
    height: 60px;
}

.menu_list{
    display: inline-block;
    width: 20vw;
    align-content: flex-end;
}

.menu_list>a{
    position: static;
    margin : 2px ;
    display: block;
    text-decoration: none;
    text-align: center;
    color:white;
    font-size: 32px;
    border: 3px solid white;
    flex: auto;
}

.ar1{
    margin: 5% 0rem 0rem 5%;
    padding: 1rem 0rem;
    width: 85vw;
}
h1{
    font-size: 32px;
    background-color: rgb(36, 25, 25);
    color: wheat;
    margin: 0.5rem 0rem;
    padding: 0.5rem;
    width: 85vw;
    height: 35px;
}

h2{
    font-size: 32px;
    background-color: rgb(59, 42, 42);
    color:wheat;
    margin: 0.5rem 0rem;
    padding:  0.5rem;
    width: 85vw;
}

h3{
    font-size: 28pt;
    color: beige;
    background-color: rgb(59, 42, 42);
    border: solid 10px black;
    width: 85vw;
    margin: 0.5rem auto;
    padding:  0.3rem 0rem;
    display: flex;
}

img{
    flex: auto;
    width: 30vw;
    border: 7px solid black;
    margin-left: 0.5rem;
}

p{
    flex: auto;
    width: 50vw;
    height: auto;
    background-color: black;
    margin: 0rem 1rem;
    padding: 0.5rem 1rem;
    word-wrap: break-word;
    font-size: 24px;
    line-height: 2rem;
}

.nashi{
    background-color: unset;
    height: 400px;
    border: none;
}

a.link{
    display: block;
    padding-top: -200px;
    margin-top: -200px;
}

.breed_link{
    text-decoration: none;
    color: pink;
    border-bottom-style: dashed;
    padding: 0.1px;
}

.owari{
    text-align: center;
    text-decoration: none;
    color:white;
}
